*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px 12px black;
    position: fixed;
    z-index: 1;
    float: top;
}
header button{
    margin-top: 12px;
    width: 140px;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    transition: 1s;
    border-radius: 12px;
    
}
header button:hover{
    color: #4562ef;
    box-shadow: 0px 0px 15px silver;

}
header img{
    width: 64px;
    float:left;
    margin-top: 3px;
    margin-left: 8px;
}

#imo1 {
    width: 100%;
    margin-top: 70px;
}
aside{
    width: 13%;
    height: 400px;
    background: #bcccfd;
    float: right;
    margin-top: -5px;
}
aside button{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 1px solid #535254;
    border-left: 1px solid #535254;
    border-bottom: 1px solid #535254;
    border-top: 1px solid #535254;
    outline: none;
    transition: 1s;
}
aside button:hover{
    color: white;
    background-color: #4562ef;
}
main{
    width: 87%;
    height: 400px;
    background: #d9e0e2;
    margin-top: -5px;
    float: left;
}
main h2{
    font-size: 35px;
    font-weight: bold;
    font-family: "Tajawal", sans-serif;
    margin-top: 10px;
}
main img{
    width: 150px;
    margin-top: 10px;
}
main p{
    font-size: 25px;
    font-weight: bold;
    font-family: "Tajawal", sans-serif;
    margin-top: 10px;
}
#d1 div{
    width:270px;
    height:330px;
    border: 1px bold white;
    font-size: 18px;
    font-family: "Tajawal", sans-serif;
    box-shadow: 1px 1px 12px gray;
    float: left;
    margin-left: 114px;
    margin-top: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

footer{
    width:100%;
    height: 400px;
    background-color: black;
    margin-top:600px;
    clear:both;
    box-shadow: 0px 0px 20px gray;
}
footer div{
    font-size: 16px;
    margin-top: 10px;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    color:red;
    float: right;
}
footer div a{
    text text-decoration: none;
    color: white;
}
footer div a:hover{

}